{% extends 'base.html' %}

{% block content %}
    <h1>Detalles de la(s) actividad(es)</h1>
    <a href="{% url 'enviar_mensaje' receptor_id=user.id %}"><button>Enviar mensaje</button></a>
    <div style="border: solid 1px;" class="bg-light p-3 rounded;">

        {% if actividad_detalle %}

            <div class="d-flex justify-content-center mb-4">
                
                <h2 class="">Numero de actividades pendientes: {{cantidad_actividades}}</h2> <br>

                <input type="hidden" name="actividad_estudiante" id="actividad_estudiante" value="{{estudiante.id}}">
                

                <a href="{% url 'detalles actividad de estudiante completada' %}"><button>Actvidades completadas</button></a>
                
            </div>

            {% for actividad_obtenida in actividad_detalle %}

                <ul>
                    <li>
                        <strong>Titulo:</strong> {{actividad_obtenida.actividades.metas}}. <strong>Estudiante: </strong> {{actividad_obtenida.actividades.user.username}}
                    </li>

                </ul>
                <a href="{% url 'ver' actividad_obtenida.actividades.id %}"><button>Ver actividad</button></a>

            {% endfor %}

        {% else %}

            {{error}}

        {% endif %}

        
    </div>

{% endblock %}