{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividades</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Actividades</h1>
        <div class="d-flex justify-content-center mb-3">
            <form action="{% url 'mostrar actividades importantes' %}" method="POST" class="mr-2">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">
                    Filtrar por importante
                </button>
            </form>

            <form action="{% url 'mostrar actividades no importantes' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">
                    Filtrar por no importante
                </button>
            </form>
        </div>
        <div class="border rounded p-3">
            <ul class="list-unstyled">
                {% for actividades in actvidad %}
                <li class="mb-3">
                    <header>
                        <h3>Materia: {{actividades.materia}}</h3>
                    </header>
                    <p>Actividad: {{actividades.metas}}</p>
                    <p>Tarea: {{actividades.tarea}}</p>
                    <p>Fecha de inicio: {{actividades.fecha_inicio}}</p>
                    <p>Fecha de culminación: {{actividades.fecha_final}}</p>
                    <p>{% if actividades.importante %} Es importante {% else %} No es importante {% endif %}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock %}