{% extends 'base.html' %}

{% block content %}
<body>
<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-4" style="max-width: 500px; width: 100%;">
        <h1 class="text-center">Iniciar sesión</h1>
        <form method="POST" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre_usuario"><i class="fas fa-user"></i> Nombre de usuario:</label>
                <input type="text" class="form-control" name="nombre_usuario" id="nombre_usuario" placeholder="Nombre de usuario">
            </div>
            <div class="form-group">
                <label for="clave1"><i class="fas fa-lock"></i> Contraseña:</label>
                <input type="password" class="form-control" name="clave1" id="clave1" placeholder="Ingresa la contraseña">
            </div>
            <button type="submit" class="btn btn-primary btn-block">
                <i class="fas fa-sign-in-alt"></i> Entrar
            </button>
        </form>
    </div>
</div>
</body>
</html>

{% endblock %}