{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4"> Perfil</h1>

<div class="bg-light p-4 rounded shadow-sm">
    <p class="mb-2"><strong>Nombre de usuario:</strong> {{ usuario.username }}</p>
    <p class="mb-2"><strong>Nombre real:</strong> {{ usuario.first_name }}</p>
    <p class="mb-3"><strong>Correo electrónico:</strong> 
    <p class="mb-3"><strong>Cedula:</strong> {{cedula}}</p>
        {% if usuario.email %} 
            {{ usuario.email }} 
        {% else %} 
            No hay correo 
        {% endif %}
    </p>
    <a href="{% url 'modificar perfil' user.id %}" class="btn btn-primary me-2">
         Editar usuario
    </a>
    <a href="{% url 'cambiar contraseña' %}" class="btn btn-secondary">
         Cambiar contraseña
    </a>
</div>

{% endblock %}