{% extends 'base.html' %}

{% block content %}
        <div class="border rounded p-3">
            <ul class="list-unstyled">
                {% for actividades in actvidad %}
                <li class="mb-3">
                    <header>
                        <h3>Materia: {{actividades.materia}}</h3>
                    </header>
                    <p>Actividad: {{actividades.metas}}</p>
                    <p>Tarea: {{actividades.tarea}}</p>
                    <p>Fecha de inicio: {{actividades.fecha_inicio}}</p>
                    <p>Fecha de culminación: {{actividades.fecha_final}}</p>
                    <p>{% if actividades.importante %} Es importante {% else %} No es importante {% endif %}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}