{% extends 'base.html' %}

{% block content %}
    <h1>Estos son los profesores</h1>

    {% for profesor in profesores %}
        <div style="border: 1px solid black; border-radius: 5px;">
            <header>
                <h2>Nombre y apellido: {{profesor.nombre}} {{profesor.apellido}}</h2>
                <h2>Materia: {{profesor.materia}}</h2>
            </header>
            <ul>
                <li>Estado: {% if profesor.estado == True %} Activo {% else %} No activo {% endif %}</li>
            </ul>
        </div>
        
    {% endfor %}

{% endblock %}