{% extends 'base.html' %}

{% block content %}
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-4">Crear una actividad</h1>
                <form method="POST" class="bg-light p-4 border rounded">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{ carrera1 }}

                    <p>¿La materia no esta en la lista? <input type="checkbox" name="no_esta" id="no" value="True"></p>
                    
                    <div id="materia-field" style="display: none;">
                        Escribe la materia aqui: <input type="text" name="materia_nueva" id="materia_nueva">
                    </div>
                    <br>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">
                            Guardar
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</body>
<script>
    document.getElementById('no').addEventListener('click', function() {
        if (this.checked) {
            document.getElementById('materia-field').style.display = 'block';
        } else {
            document.getElementById('materia-field').style.display = 'none';
        }
    });

    $(document).ready(function() {
    $('#add-more-activities').on('click', function() {
        $.ajax({
        type: 'GET',
        url: '{% url "agregar" %}',
        data: {},
        success: function(data) {
            $('#activities-form').append($(data).find('form'));
                }
            });
        });
    });
</script>
{% endblock %}