{% extends 'base.html' %}

{% block content %}
<body>

<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-4" style="max-width: 500px; width: 100%;">
        <h1 class="text-center">Registro de usuario</h1>
        <form action="" method="POST" class="mt-4">

            {% if error %}

                <div class="alert alert-danger text-center">
                    <i class="fas fa-exclamation-circle"></i> {{error}}
                </div>

            {% endif %}

            {% csrf_token %}
            <div class="form-group">
                <label for="nombre_usuario"><i class="fas fa-user"></i> Nombre de usuario:</label>
                <input type="text" class="form-control" name="nombre_usuario" id="nombre_usuario" placeholder="Nombre de usuario">
            </div>

            <div class="form-group">
                <label for="nombre"><i class="fas fa-id-badge"></i> Nombre:</label>
                <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre">
            </div>

            <div class="form-group">
                <label for="apellido"><i class="fas fa-id-badge"></i> Apellido:</label>
                <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido">
            </div>

            <div class="form-group">
                <label for="estudiante"><i class="fas fa-id-badge"></i> Estudiante :</label>
                <input type="radio" name="es_estudiante" id="estudiante" value="True" checked>
            </div>

            <div class="form-group">
                <label for="profesor"><i class="fas fa-id-badge"></i> Profesor :</label>
                <input type="radio" name="es_estudiante" id="profesor" value="False">
            </div>
            

            <div id="materia-field" style="display: none;" class="form-group">
                {{mostrar.as_p}}

                <p>¿La materia no esta en la lista? <input type="checkbox" name="no_esta" id="no" value="True"></p>

                <div id="materia" style="display: none;">
                    Escribe la materia aqui: <input type="text" name="materia_nueva" id="materia_nueva">
                </div>

            </div>

            <div class="form-group mt-3">
                <label for="clave1"><i class="fas fa-lock"></i> Contraseña:</label>
                <input type="password" class="form-control" name="clave1" id="clave1" placeholder="Ingresa la contraseña">
            </div>

            <div class="form-group">
                <label for="clave2"><i class="fas fa-lock"></i> Confirmar contraseña:</label>
                <input type="password" class="form-control" name="clave2" id="clave2" placeholder="Ingresa nuevamente la contraseña">
            </div>

            <button type="submit" class="btn btn-primary btn-block">
                <i class="fas fa-user-plus"></i> Registrar
            </button>
        </form>
    </div>
</div>
</body>

<script>

    document.getElementById('no').addEventListener('click', function() {
        if (this.checked) {
            document.getElementById('materia').style.display = 'block';
        } else {
            document.getElementById('materia').style.display = 'none';
        }
    });

    document.getElementById('profesor').addEventListener('click', function() {
    if (this.checked) {
        document.getElementById('materia-field').style.display = 'block';
    } else {
        document.getElementById('materia-field').style.display = 'none';
    }
});

document.getElementById('estudiante').addEventListener('click', function() {
    if (this.checked) {
        document.getElementById('materia-field').style.display = 'none';
    } else {
        document.getElementById('materia-field').style.display = 'block';
    }
});
</script>

{%endblock%}