{% extends 'base.html' %}

{% block content %}
{% load widget_tweaks %}
<style>
    .transparent-green-bg {
        background-color: rgba(0, 128, 0, 0.2); /* Verde con 20% de opacidad */
    }
    
</style>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-4">Crear una actividad</h1>
                <form method="POST" class="p-3 border rounded shadow-sm transparent-green-bg">
                    {% csrf_token %}
                    
                    <div class="form-group mb-3">
                        <label for="{{ form.metas.id_for_label }}">Título:</label>
                        {{ form.metas|add_class:"form-control"|attr:"rows:1" }}
                    </div>
                    
                    <div class="form-group mb-3">
                        <label for="{{ form.tarea.id_for_label }}">Descripción:</label>
                        {{ form.tarea|add_class:"form-control"|attr:"rows:1" }}
                    </div>
                    
                    <div class="form-group mb-3">
                        <label for="{{ form.fecha_inicio.id_for_label }}">Fecha de inicio:</label>
                        {{ form.fecha_inicio|add_class:"form-control" }}
                    </div>
                    
                    <div class="form-group mb-3">
                        <label for="{{ form.fecha_final.id_for_label }}">Fecha final:</label>
                        {{ form.fecha_final|add_class:"form-control" }}
                    </div>
                    
                    <div class="form-group mb-3">
                        <label for="{{ form.importante.id_for_label }}">Importante:</label>
                        {{ form.importante|add_class:"form-check-input" }}
                    </div>

                    {{ carrera1 }}

                    <div class="form-group mt-3 mb-3">
                        <p>¿La materia no está en la lista? 
                           <input type="checkbox" name="no_esta" id="no" class="form-check-input" value="True">
                        </p>
                        <div id="materia-field" class="mt-2" style="display: none;">
                            <label for="materia_nueva">Escribe la materia aquí:</label>
                            <input type="text" name="materia_nueva" id="materia_nueva" class="form-control">
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">
                            Guardar
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</body>

<script>
    // Script para mostrar/ocultar el campo de materia
    document.getElementById('no').addEventListener('click', function() {
        document.getElementById('materia-field').style.display = this.checked ? 'block' : 'none';
    });

    // Script para agregar más actividades mediante AJAX
    $(document).ready(function() {
        $('#add-more-activities').on('click', function() {
            $.ajax({
                type: 'GET',
                url: '{% url "agregar" %}',
                data: {},
                success: function(data) {
                    $('#activities-form').append($(data).find('form'));
                }
            });
        });
    });
</script>

{% endblock %}
