{% extends 'base.html' %}

{% block content %}
    <h1>Materias asociadas a la carrera</h1>

    {% for materia in carreras %}
        <p>Nombre de la materia: <strong>{{ materia.materia.nombre }}</strong></p>
    {% endfor %}
    
    <div style="border: solid 1px;" class="bg-light p-3 rounded;">
        <h2>Asociar materias a carrera</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{asociar_materias.as_p}}
            
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    
            <button>Asociar</button>
        </form>
    </div>
   
{% endblock %}