{% extends 'base.html' %}

{% block content %}
    <h1>Materias</h1>

    <div style="border: solid 1px;" class="bg-light p-3 rounded;">
        <h2>Crear nueva materia</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Crear</button>
        </form>
    </div>

    
    <br>
    {% for materia in materias %}
        <form action="{% url 'materia eliminada' materia.id%}" method="POST">
            {% csrf_token %}
            <ul>
                <li> <a href="#">{{ materia.nombre }}</a> <button>Borrar</button></li>
            </ul>
        </form>
    {% endfor %}
{% endblock %}