{% extends 'base.html' %}

{% block content %}
    <h1>Carreras</h1>
    
    <p></p>

    {% for carreras in carrera %}
        <form action="" method="POST">
            <ul>
                <li>Nombre: <a href="{% url 'detalles carreras' carreras.id %}">{{ carreras.nombre }}</a> Cantidad de estudiantes: ({{ carreras.num_estudiantes }} estudiantes)</li>
            </ul>
        </form>
        
    {% endfor %}
    
    <div style="border: solid 1px;" class="bg-light p-3 rounded;">
        <h2>Crear carrera</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{crear_carrera.as_p}}
    
            <button>Crear</button>
        </form>
    </div>
    
{% endblock %}